@page
@model SoulBowl.Pages.Menus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div id="detailsCenter">
    <div id="detailsBackground">
        <h1 id="detailsHeader">Details</h1>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2" id="detailsTableItem">
                    @Html.DisplayNameFor(model => model.MenuItem.MenuType)
                </dt>
                <dd class="col-sm-10" id="detailsTableItem">
                    @Html.DisplayFor(model => model.MenuItem.MenuType)
                </dd>
                <dt class="col-sm-2" id="detailsTableItem">
                    @Html.DisplayNameFor(model => model.MenuItem.ItemName)
                </dt>
                <dd class="col-sm-10" id="detailsTableItem">
                    @Html.DisplayFor(model => model.MenuItem.ItemName)
                </dd>
                <dt class="col-sm-2" id="detailsTableItem">
                    @Html.DisplayNameFor(model => model.MenuItem.ItemDescription)
                </dt>
                <dd class="col-sm-10" id="detailsTableItem">
                    @Html.DisplayFor(model => model.MenuItem.ItemDescription)
                </dd>
                <dt class="col-sm-2" id="detailsTableItem">
                    @Html.DisplayNameFor(model => model.MenuItem.Allergens)
                </dt>
                <dd class="col-sm-10" id="detailsTableItem">
                    @Html.DisplayFor(model => model.MenuItem.Allergens)
                </dd>
                <dt class="col-sm-2" id="detailsTableItem">
                    @Html.DisplayNameFor(model => model.MenuItem.Price)
                </dt>
                <dd class="col-sm-10" id="detailsTableItem">
                    @Html.DisplayFor(model => model.MenuItem.Price)
                </dd>
                <dt class="col-sm-2" id="detailsTableItem">
                    @Html.DisplayNameFor(model => model.MenuItem.ImageDescription)
                </dt>
                <dd class="col-sm-10" id="detailsTableItem">
                    @Html.DisplayFor(model => model.MenuItem.ImageDescription)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-page="./Edit" id="menuDetailsEditButton" asp-route-id="@Model.MenuItem?.ID">Edit</a> |
            <a asp-page="/AdminIndex" id="detailsReturn">Return</a>
        </div>
    </div>
</div>
<div id="detailsSpacer"></div>
