@page
@model SoulBowl.Pages.Menus.IndexModel
@{
    ViewData["Title"] = "Menu";
}

<h1 id="MenuTitle">new Menu</h1>

<h2 id="menusTitle">Starters</h2>

<div class="container text-center">
    <div class="row row-cols-3">
        @foreach (var item in Model.MenuItem)
        {
            if (item.MenuType == "ST")
            {
                <div class="col" id="menuCol">
                    @{
                        try
                        {
                            <td>
                                <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription" />
                            </td>
                        }
                        catch
                        {
                            <td>
                                <img class="img-thumb" src="/Images/no-image.png" alt="No Image provided" />
                            </td>
                        }
                    }
                    <div id="MenuItemName">
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.ItemDescription)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Price)
                    </div>
                    <div>
                        <p>       </p>
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Allergens)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.ID)
                    </div>
                    <div>
                        <form method="post">
                            <button type="submit" asp-page-handler="Buy" asp-route-itemID="@item.ID">Add to Basket</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
    <h2 id="menusTitle">Mains</h2>

    <div class="container text-center">
        <div class="row row-cols-3">

            @foreach (var item in Model.MenuItem)
            {
                if (item.MenuType == "MN")
                {
                    <div class="col" id="menuCol">
                        @{
                            try
                            {
                                <td>
                                    <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription" />
                                </td>
                            }
                            catch
                            {
                                <td>
                                    <img class="img-thumb" src="/Images/no-image.png" alt="No Image provided" />
                                </td>
                            }
                        }
                        <div id="MenuItemName">
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.ItemDescription)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Price)
                        </div>
                        <div>
                            <p>       </p>
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Allergens)
                        </div>
                        <div>
                            <form method="post">
                                <button type="submit" asp-page-handler="Buy" asp-route-itemID="@item.ID">Add to Basket</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
        <h2 id="menusTitle">Desserts</h2>

        <div class="container text-center">
            <div class="row row-cols-3">

                @foreach (var item in Model.MenuItem)
                {
                    if (item.MenuType == "DS")
                    {
                        <div class="col" id="menuCol">
                            @{
                                try
                                {
                                    <td>
                                        <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription" />
                                    </td>
                                }
                                catch
                                {
                                    <td>
                                        <img class="img-thumb" src="/Images/no-image.png" alt="No Image provided" />
                                    </td>
                                }
                            }
                            <div id="MenuItemName">
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </div>
                            <div>
                                @Html.DisplayFor(modelItem => item.ItemDescription)
                            </div>
                            <div>
                                @Html.DisplayFor(modelItem => item.Price)
                            </div>
                            <div>
                                <p>       </p>
                            </div>
                            <div>
                                @Html.DisplayFor(modelItem => item.Allergens)
                            </div>
                            <div>
                                <form method="post">
                                    <button type="submit" asp-page-handler="Buy" asp-route-itemID="@item.ID">Add to Basket</button>
                                </form>
                            </div>
                        </div>
                    }
                }    
            </div>
        </div>
